
h1{
  color: #8FBC8F;
  font-family: Times New Roman; 
  padding-top: 5em:
}

body{
  background-color: #FFFAFA;
}

p{
  font-family: Times New Roman;
  color: #8FBC8F;
}

/* ul.navbar{
  list-style-type: none;
    padding: 0;
    margin: 0;
  position: absolute;
  top: 0;
  width: 36em;
  background-color: #8FBC8F;
  text-decoratuin: none;
} */

*{
padding: 0;
margin: 0;
}

header{
height: 55px;
}

header nav ul{
display: flex;
margin-left: 0%;
background-color: #8FBC8F;
text-decoration: none;
border: 1px solid grey;
}

header nav ul li{
padding-left: 10%;
list-style-type: none;
font-family: Times New Roman;
}

section{
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
}

.Container{
margin-top: 10%
}


.Container h2{
margin-top: 3%;
}

