
h1{
  color: #8FBC8F;
  font-family: Times New Roman;
}

body{
  background-color: #FFFAFA;
}

p{
  font-family: Times New Roman;
  color: #8FBC8F;
}

ul.navbar{
  list-style-type: none;
    padding: 0;
    margin: 0;
  position: absolute;
  height: 4 em;
  background-color: #8FBC8F;
}
